body,html{
  /* Background pattern from subtlepatterns.com */
  background-image: url('/images/wavegrid/wavegrid.png');
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,.navbar-brand{
  font-family: 'Bree Serif', serif;
  color:#2F637A;
}
a{
  color:#2F637A;
}
a:hover{
  color:#4CA1C6;
}
/************ Navbar ***************/
.navbar{
  background-color:#fff;
  min-height:80px;
  padding-top:15px;
}
.fa.fa-shopping-cart{
  font-size:1.4em;
}
.navbar-nav>li>a, .navbar-brand, .navbar-right>li>a{
  color:#2F637A;
}
.navbar-nav>li>a:hover, .navbar-brand:hover, .navbar-right>li>a:hover{
  color:#4CA1C6;
  background-color:#fff;
}
.badge{
  background-color:#2F637A;
}
.icon-bar{
  background-color:#2F637A;
  border-color:#2F637A;
}
.navbar-toggle{
  border-color:#2F637A;
  border-radius:0px;
}
.banner{
  background-color:#2F637A;
  color:#97C6DB;
}
.banner p{
  margin:5px;
  padding:0px;
}
/************* Store View *************/
.list-view{
  list-style-type: none;
  padding-left:0px;
}
.list-img{
  max-height:250px;
  min-width:250px;
  object-fit:cover;
  overflow:hidden;
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
}

.grid-view{
  display:inline-block;
  float:left;
  width:350px;
  height: 400px;
  margin:15px;
}
.grid-img{
  max-height:250px;
  min-width:250px;
  object-fit:cover;
  overflow:hidden;
}
/********** Footer ************/
.footer{
  background-color:#2F637A;
  padding-top:10px;
  padding-bottom:20px;
}
.footer h2, .footer h3, .footer h4, .footer a:hover, .footer p{
  color:#97C6DB;
}
.footer a{
  color:#eee;
}
ul.footer-menu{
  list-style-type:none;
  padding-left:0px;
}
.payment-options{
  padding-top:50px;
  color:#97C6DB;
  font-size:2.5em;
}
.credits{
  background-color:#fff;
}
.attribute{
  padding-top:10px;
  font-size:0.8em;
}
