body,html{
  /* Background pattern from subtlepatterns.com */
  background-image: url('/images/wavegrid/wavegrid.png');
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,.navbar-brand{
  font-family: 'Bree Serif', serif;
  color:#2F637A;
}
a{
  color:#2F637A;
}
a:hover{
  color:#4CA1C6;
}
/************ Navbar ***************/
.navbar{
  background-color:#fff;
  min-height:80px;
  padding-top:15px;
}
.fa.fa-shopping-cart{
  font-size:1.4em;
}
.navbar-nav>li>a, .navbar-brand, .navbar-right>li>a{
  color:#2F637A;
}
.navbar-nav>li>a:hover, .navbar-brand:hover, .navbar-right>li>a:hover{
  color:#4CA1C6;
  background-color:#fff;
}
.badge{
  background-color:#2F637A;
}
.icon-bar{
  background-color:#2F637A;
  border-color:#2F637A;
}
.navbar-toggle{
  border-color:#2F637A;
  border-radius:0px;
}
.banner{
  background-color:#2F637A;
  color:#9BCDE3;
}
.banner p{
  margin:5px;
  padding:0px;
}
.btn-awesome{
  color: #eee;
  background-color: #4CA1C6;
  border-color: #2F637A;
}
.btn-awesome:hover{
  color: #4CA1C6;
  background-color: #2F637A;
  border-color: #2F637A;
}
/************* Store View *************/
.list-view{
  list-style-type: none;
  padding-left:0px;
}
.list-img{
  max-height:250px;
  min-width:250px;
  object-fit:cover;
  overflow:hidden;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
}
.grid-view{
  display:inline-block;
  float:left;
  width:350px;
  height: 400px;
  margin:15px;
}
.grid-img{
  max-height:250px;
  min-width:250px;
  object-fit:cover;
  overflow:hidden;
  margin:auto;
}
.search-form{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/********** Home Page ************/
.home-banner{
  background-color:rgba(0,0,0,0.6);
  height:300px;
}
.home-banner h1{
  padding-top:230px;
  color:#fff;
}
.home-text{
  background-color:#fff;
  padding:20px;
}
.home-img{
  max-height:300px;
  margin:auto;
}
/********** Product Page ************/
.product-img{
  max-height:250px;
  margin:auto;
}
/********** Footer ************/
.footer{
  background-color:#2F637A;
  padding-top:10px;
  padding-bottom:20px;
  margin-top:30px;
}
.footer h2, .footer h3, .footer h4, .footer a:hover{
  color:#BDBDBD;
}
.footer p{
  color:#9BCDE3;
}
.footer a{
  color:#eee;
}
ul.footer-menu{
  list-style-type:none;
  padding-left:0px;
}
.payment-options{
  padding-top:50px;
  color:#9BCDE3;
  font-size:2.5em;
}
.credits{
  background-color:#fff;
}
.attribute{
  padding-top:10px;
  font-size:0.8em;
}
