<ul class="list-view">
  <li ng-repeat="item in inventory | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
    <div class="row">
      <div class="col-sm-3">
        <img ng-src="{{item.imgs[0]}}" alt="{{item.name}}" class="text-center img-responsive list-img">
      </div>
      <div class="col-sm-9">
        <h2>{{item.name}}</h2>
        <p>{{item.shortDes}}</p>
        <p>{{item.price | currency}}</p>
        <a href="/product/{{item.id}}" class="btn btn-default">Read more</a>
        <a href class="btn btn-default" ng-click="cart.addItem(item,1)">Add to cart</a>
      </div>
    </div>
  </li>
</ul>
