<h2>Cart</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>
  <tr ng-hide="cart.items.length">
    <th colspan="5" class="text-center">Your shopping cart is empty. <a href="#/store">Shop now!</a></th>
  </tr>
  <tr ng-repeat="item in cart.items">
    <th>{{item.name}}</th>
    <th><input type="number" ng:model="item.quantity" ng:required class="input-mini"></th>
    <th>{{item.price}}
    <th>{{item.quantity * item.price | currency}}</th></th>
    <th>[<a href ng:click="removeItem($index)">X</a>]</th>
  </tr>
  <tr ng-show="cart.items.length">
    <th></th>
    <th></th>
    <th>Total:</th>
    <th>{{cartTotal() | currency}}</th>
    <th></th>
  </tr>
</table>
