<div class="container" id="content">
  <div class="row">
    <div class="col-md-8">
      <h1>Shop</h1>
      <p>A good shirt awaits...</p>

    </div>
    <div class="col-md-4 text-right">
      <input type="text" placeholder="Search..." ng-model="searchStore" class="search-form">
      <a href ng-click="view = true" ng-class="{active : view}" class="btn btn-default"><i class="fa fa-th"></i></a>
      <a href ng-click="view = false" ng-class="{active : !view}" class="btn btn-default"><i class="fa fa-list"></i></a>
    </div>
  </div>

  <div class="row" style="margin:auto;">
    <div ng-show="view">
      <grid-display></grid-display>
    </div>
    <div ng-hide="view">
      <list-display></list-display>
    </div>
  </div>

  <!--pagination buttons -->
  <div class="row text-center">
    <ul class="pagination">
      <li ng-class="prevPageDisabled()">
        <a href ng-click="firstPage()"><i class="fa fa-angle-double-left"></i> First</a>
      </li>
      <li ng-class="prevPageDisabled()">
        <a href ng-click="prevPage()"><i class="fa fa-angle-left"></i> Prev</a>
      </li>

      <li ng-class="nextPageDisabled()">
        <a href ng-click="nextPage()">Next <i class="fa fa-angle-right"></i></a>
      </li>
      <li ng-class="nextPageDisabled()">
        <a href ng-click="lastPage()">Last <i class="fa fa-angle-double-right"></i></a>
      </li>
    </ul>
  </div>

</div>
